@using Microsoft.AspNetCore.Identity
@model EventsForDetailsViewModel
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Events";
}

@if(Model.EventDetailed.doIOwnedIt){
<div class="row">
    <div class="col-md-6">
    <h2 class="pt-3 pb-3">@Model.EventDetailed.Name </h2>
    <h5>Participants:</h5>
    <p>@Model.EventDetailed.CurrentPeopleNumber/@Model.EventDetailed.HowManyPeople</p>
    <h5>Start time:</h5>
    <p>@Model.EventDetailed.StartDate </p>
    <h5>Event contribiutor:</h5>
    <p>@Model.Owner.Name @Model.Owner.Surname</p>
    <a asp-controller="Event" asp-action="RemoveEvent" asp-route-eventId = "@Model.EventDetailed.Id" class="btn btn-primary">Remove Event</a>  

    </div>
    <div class="col-md-6">
    <table>
    @foreach (var item in Model.UsersAccepted)
    {
       <td>
            <tr>
               @item.Name
            </tr>
        </td>
    }
    </table>

    <table>
    @foreach (var item in Model.UsersToAccept)
    {
       <tr>
            <td class="p-2">
               <p><i>Request for acceptance: </i></p> @item.Name <br/>
                <br/>
                <a asp-controller="Event" asp-action="AccepUser" asp-route-eventId = "@Model.EventDetailed.Id" asp-route-userId = "@item.Id" class="btn btn-primary">Accept User</a>
                <a asp-controller="Event" asp-action="RejectUser" asp-route-eventId = "@Model.EventDetailed.Id" asp-route-userId = "@item.Id" class="btn btn-primary">Reject User</a>
                <br/>
            </td>
        </tr>
    }
    </table>
    </div>
    
</div>
}else{
<div>
    <h2 class="pt-3 pb-3">@Model.EventDetailed.Name </h2>
    <h5>Participants:</h5>
    <p>@Model.EventDetailed.CurrentPeopleNumber/@Model.EventDetailed.HowManyPeople</p>
    <h5>Start time:</h5>
    <p>@Model.EventDetailed.StartDate </p>
    <h5>Event contribiutor:</h5>
    <p>@Model.Owner.Name @Model.Owner.Surname</p>
    
    <table>
    @foreach (var item in Model.UsersAccepted)
    {
       <tr>
            <td>
               @item.Name
            </td>
        </tr>
    }
    </table>
    <div>
        @if(Model.EventDetailed.Status == 1) {
            <a asp-controller="Event" asp-action="ResignEvent" asp-route-id = "@Model.EventDetailed.Id" class="btn btn-primary">Resign (you are accepted)</a>  
        }else if(Model.EventDetailed.Status == 2){
            <a asp-controller="Event" asp-action="ResignEvent" asp-route-id = "@Model.EventDetailed.Id" class="btn btn-primary">Resign</a>  
        }else if (Model.EventDetailed.Status == 3){
             <p>You were rejected by event owner.</p>
        }else{
            <a asp-controller="Event" asp-action="JoinEvent" asp-route-id = "@Model.EventDetailed.Id" class="btn btn-primary">Join</a> 
        }
    </div>
</div>
}