@model EventViewModel

<style>
    .container{
        max-width: unset;
    }

    main{
        padding-bottom: 0;
    }
</style>

@{
    ViewData["Title"] = "Events";
}

<div class="row">
<div class="col-md-5">

    <h3>
        @ViewData["Title"]
    </h3>


    <div class="list-group">
            @foreach (var item in Model.Events)
    {
        <div class="list-group-item list-group-item-action flex-column align-items-start bg-light">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">@item.Name;</h5>
            <p class="text-muted"><a asp-controller="Event" asp-action="JoinEvent" asp-route-id = "@item.Id">Join</a></p>
            </div>
            <p class="mb-1">opis</p>
            <small class="text-muted">więcej opisu</small>
        </div>
    }
    </div>

    
    <!-- <table>
    @foreach (var item in Model.Events)
    {
       <tr>
            <td>
               @item.Name;  
            </td>
            <td>
                <a asp-controller="Event" asp-action="JoinEvent" asp-route-id = "@item.Id">Join</a>    
            </td>
        </tr>
    }
    </table> -->

<br/>
<a asp-area="" asp-controller="Event" asp-action="EventForm">Add event</a>
</div>
<div id="map" class="col-md-7">

</div>
</div>
