@using Microsoft.AspNetCore.Identity
@model EventViewModel
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Events";
}

<div>
    <div>@ViewData["Title"]</div>
    <table>
    @foreach (var item in Model.Events)
    {
       <tr>
            <td>
               @item.Name;  
            </td>
            <td>
<<<<<<< HEAD
                @if(item.doIOwnedIt)
                {
                    <p>This is your event</p>
                }else if(item.Status == 1) {
                    <a asp-controller="Event" asp-action="ResignEvent" asp-route-id = "@item.Id">Resign</a>  
                }else{
                    <a asp-controller="Event" asp-action="JoinEvent" asp-route-id = "@item.Id">Join</a>  
                }
=======
                @if(item.Status == 1)
                {
                    <a asp-controller="Event" asp-action="ResignEvent" asp-route-id = "@item.Id">resign</a>  
                      
                }else{
                    <a asp-controller="Event" asp-action="JoinEvent" asp-route-id = "@item.Id">Join</a>  
                }   
>>>>>>> 5e4817c275bd64b0ce2d1bf7e0cc80db6fdf57e4
            </td>
        </tr>
    }
    </table>
</div>
<a asp-area="" asp-controller="Event" asp-action="EventForm">Add event</a>

