@using Microsoft.AspNetCore.Identity
@model EventViewModel
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Events";
}


<link rel="stylesheet" href="~/css/map.css" />

<div onload="loadEvents()">

    <div class="row">

        <div class="col-md-5 scroll ">
            <h3>
                @ViewData["Title"]
            </h3>

            <table id="events" class="table pt-3">
            @foreach (var item in Model.Events)
            {

            <tr class="eventRows" onmouseover="hoverMarker()">
                    <td>
                         @item.Name

                    </td>
                    <td >
                        @item.StartDate
                    </td>
                    <td style="display:none;">@item.longitude

                    </td>
                    <td style="display:none;" >@item.latitude

                    </td>
                    <td>
                        @if(item.doIOwnedIt){
                            <p>This is your event</p>
                        }else if(item.Status == 1) {
                            <a asp-controller="Event" asp-action="ResignEvent" asp-route-id = "@item.Id">Resign</a>  
                        }else{
                            <a asp-controller="Event" asp-action="JoinEvent" asp-route-id = "@item.Id">Join</a>  
                        }
                    </td>
                </tr>
            }
            </table>
        </div>
        <div class="col-md-7 pr-0 pl-0">
            <div id="map" class="full-map"></div>
        </div>
    </div>


<script language="javascript" type="text/javascript" >
    
    var events = [];
    var markers = [];
    var infoWindowOpened = false;





        function loadEvents(){
            var table = document.getElementById("events");
            var rowLen = table.rows.length;
            for (var i = 0; i< rowLen; i++){
                var row = table.rows[i];
                var tmp = row.cells[2].innerHTML.trim();
                var tmp2 = " ";
                var tmp3 = row.cells[3].innerHTML.trim();
                var event = tmp3.concat(tmp2, tmp);
                //alert(event);
                events.push(event);
            }
        }

            function initMap() {
                loadEvents();
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: { lat: 54.3510232, lng: 18.644458999999983 },
                scrollwheel: true,
                clickable: true
            });
            var geocoder = new google.maps.Geocoder();

            for (var i = 0; i < events.length; i++) {
                geocodeAddress(geocoder, map, events[i]);
            }
        }

        function geocodeAddress(geocoder, resultsMap, address) {
                       var runnerIcon = {
        url: "../img/runner.png", // url
        scaledSize: new google.maps.Size(25, 25), // scaled size
        origin: new google.maps.Point(0,0), // origin
        anchor: new google.maps.Point(0, 0) // anchor
        };
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    lastMarker = new google.maps.Marker({
                        map: resultsMap,
                        icon: runnerIcon,
                        position: results[0].geometry.location
                    });
                    markers.push(lastMarker);
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }

                google.maps.event.addListener(lastMarker, 'click', function () {
                    var table = document.getElementById("events");
                    var rows = table.getElementsByTagName("tr");
                    for (i = 0; i < rows.length; i++) {
                        row = table.rows[i];
                     var lng = row.cells[2].innerHTML.trim();
                     var lat = row.cells[3].innerHTML.trim();                       
                    if (parseFloat(lng).toFixed(6) == parseFloat(this.getPosition().lng()).toFixed(6) && parseFloat(lat).toFixed(6) == parseFloat(this.getPosition().lat()).toFixed(6)){
                        if (infoWindowOpened){
                                infowindow.close();
                                infoWindowOpened= false;
                            }
                            //TODO content dymka
                            var contentString = 'Event: ' + row.cells[0].innerHTML.trim() + "\n takes place: " + row.cells[1].innerHTML.trim();
                            infowindow = new google.maps.InfoWindow({
                                content: contentString
                            });
                            infowindow.open(map,this);
                            for (var x = 0; x<rows.length;x++){
                                rows[x].style.background = "#FFFFFF"
                            }
                            row.style.background = "#808080";
                            infoWindowOpened = true;
                        }
                    }
                });

            });
        }


        function hoverMarker(){
            var table = document.getElementById("events");
            var rows = table.getElementsByTagName("tr");
            for (i = 0; i < rows.length; i++) {
            var currentRow = table.rows[i];
             var createClickHandler = function(row) {
                    return function() {
                    var lng = row.cells[2].innerHTML.trim();
                    var lat = row.cells[3].innerHTML.trim();
                    for (var k = 0; k < markers.length ; k++){
                        if (parseFloat(lng).toFixed(6) == parseFloat(markers[k].getPosition().lng()).toFixed(6) && parseFloat(lat).toFixed(6) == parseFloat(markers[k].getPosition().lat()).toFixed(6)){
                            if (infoWindowOpened){
                                infowindow.close();
                                infoWindowOpened= false;
                            }
                            //TODO content dymka
                            var contentString = 'Event: ' + row.cells[0].innerHTML.trim() + "\n takes place: " + row.cells[1].innerHTML.trim();
                            infowindow = new google.maps.InfoWindow({
                                content: contentString
                            });
                            infowindow.open(map, markers[k]);
                            infoWindowOpened = true;
                            for (var x = 0; x<rows.length;x++){
                                rows[x].style.background = "#FFFFFF"
                            }
                            row.style.background = "#808080";
                        }
                    }
                  };
             };
              currentRow.onclick = createClickHandler(currentRow);
         }
        }




</script>
    <script language="javascript" type="text/javascript" async defer 
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcVbgOrcixUdvZg0jkiGyGGz8sOYZss6I&callback=initMap">
    </script>